---
const { movie } = Astro.props;
---

<a
  href={`/movies/${movie.id}`}
  class="movie-card"
  data-title={movie.title}
  data-genre={movie.genre}
>
  <img src={movie.poster_path} alt={movie.title} class="movie-poster" />
</a>

<style lang="scss">
  .movie-poster {
    max-width: 10rem;
  }
</style>
